html, body { width: 100%; height: 100%; padding: 0; margin: 0; overflow: hidden; background: #000000 }
#unity-container, #unity-container.unity-desktop, #unity-container.unity-mobile { position: fixed; inset: 0; width: 100%; height: 100%; transform: none }
#unity-canvas { display: block; width: 100%; height: 100%; padding: 0; margin: 0; border: 0; outline: none; background: #000000 }
#unity-loading-bar { position: absolute; z-index: 1; left: 50%; top: 50%; width: 280px; text-align: center; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; margin: 0 auto; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin: 10px auto 0; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-loading-status { margin-top: 14px; color: #ffffff; font: 14px Arial, sans-serif }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
